@model Lab06.Models.Student
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Branch"></label>
        @Html.DropDownListFor(
        m => m.Branch,
                (IEnumerable<SelectListItem>)ViewBag.AllBranches,
                "-- Chọn Ngành --",
                new { @class = "form-control" }
                )
    </div>

    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control">
            <option value="">-- Chọn giới tính --</option>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IsRegular"></label>
        <input asp-for="IsRegular" type="checkbox" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Dob"></label>
        <input asp-for="Dob" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>

<div asp-validation-summary="All" class="text-danger"></div>