@* Views/Shared/_CategoryPartial.cshtml *@

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" style="background-color: #007bff; border-color: #007bff;">
        Danh mục sản phẩm
    </a>
    <a href="#" class="list-group-item list-group-item-action">Áo dài</a>
    <a href="#" class="list-group-item list-group-item-action">Áo đông</a>
    <a href="#" class="list-group-item list-group-item-action">Túi xách</a>
    <a href="#" class="list-group-item list-group-item-action">Đồng hồ</a>
    <a href="#" class="list-group-item list-group-item-action">Ví da</a>
    <a href="#" class="list-group-item list-group-item-action">Thắt lưng da</a>
    <a href="#" class="list-group-item list-group-item-action">Tủ lạnh</a>
    <a href="#" class="list-group-item list-group-item-action">Tivi</a>
    <a href="#" class="list-group-item list-group-item-action">Quạt điện</a>
    <a href="#" class="list-group-item list-group-item-action">Lò sưởi</a>
</div>